Бонус за Самую Большую Сделку
Требования:

1. Структура данных: Сумма (decimal), Менеджер (string).

2. Входные данные: Коллекция продаж.

3. Базовый Бонус: 1.1% от суммы каждой продажи.

4. Премиальный Бонус (Лучшая Сделка): Если самая крупная 
сделка Менеджера (Maximum) превысила 250000, добавить 
фиксированный бонус 10000 к его итоговому бонусу.

5. Исключение: Использовать LINQ для фильтрации продаж: не 
учитывать продажи с суммой меньше 1000 при расчете всех бонусов.

6. Вывод: Итоговый бонус.